@font-face {
  font-family: 'icomoon-github';
  src: url("../fonts/icon-github/icomoon.eot?-86m8ff");
  src: url("../fonts/icon-github/icomoon.eot?#iefix-86m8ff") format('embedded-opentype'), url("../fonts/icon-github/icomoon.woff?-86m8ff") format('woff'), url("../fonts/icon-github/icomoon.ttf?-86m8ff") format('truetype'), url("../fonts/icon-github/icomoon.svg?-86m8ff#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Font-Lato-Bold/Lato-Bold.ttf");
  font-weight: normal;
  font-style: bold;
}
a {
  color: #dd4f24;
}
body {
  background: #e8e8e8;
  color: #444;
  font-family: Arial;
  font-size: 16px;
}
header {
  background: #2ecc71;
  color: #fff;
  padding: 2em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
  z-index: 1;
  white: 100%;
}
header .logo {
  font-size: 2em;
}
header .search-box {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 30%;
  background: #fff;
  border-radius: 10px;
  padding: 0.5em;
}
header .search-box .icon-search {
  text-align: right;
}
header .search-box .icon-search:after {
  text-align: right;
  font-family: icomoon-github;
  font-size: 1em;
  color: #444;
  content: "\e600";
}
.posts {
  padding: 2.5%;
  position: relative;
  margin: 0;
  width: 95%;
}
.posts .ng-scope {
  width: 70%;
  margin: 0;
  padding: 0;
}
.posts .ng-scope .post {
  background: #ecf0f1;
  position: relative;
  left: 15%;
  width: 100%;
  color: #7a7a7a;
  box-shadow: 2px 5px 0px #bdc3c7;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.posts .ng-scope .post:hover {
  background: #34495e;
  box-shadow: 2px 5px 0px #34495e;
}
.posts .ng-scope .post .acciones {
  width: 100%;
  position: relative;
  padding: 0.5em;
  overflow: hidden;
}
.posts .ng-scope .post .acciones .numero-repos {
  position: relative;
  padding: 1em;
}
.posts .ng-scope .post .acciones .numero-repos .git-hub {
  color: #95a5a6;
  position: absolute;
  left: 7%;
}
.posts .ng-scope .post .acciones .numero-repos .git-hub:before {
  font-size: 1.5em;
  font-family: icomoon-github;
  content: "\e602";
}
.posts .ng-scope .post .acciones .numero-repos .followers {
  position: absolute;
  right: 10%;
  color: #95a5a6;
}
.posts .ng-scope .post .acciones .numero-repos .followers:before {
  font-size: 1.5em;
  font-family: icomoon-github;
  content: "\e601";
}
.posts .ng-scope .post .acciones .numero-repos .git-hub,
.posts .ng-scope .post .acciones .numero-repos .followers {
  text-decoration: none;
  top: 0;
}
.posts .ng-scope .descripcion {
  color: #7a7a7a;
  height: 200px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.posts .ng-scope .name-autor {
  position: absolute;
  margin: auto;
  bottom: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}
.posts .ng-scope .imagen {
  margin: 1.5em 0 0 0;
  width: 100%;
}
.posts .ng-scope .imagen img {
  position: absolute;
  margin: auto;
  left: 15%;
  right: 15%;
  top: 10px;
  height: 60%;
  width: 70%;
  border-radius: 50%;
}
footer {
  position: relative;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
  background: #27ae60;
  text-align: center;
  margin-top: 2em;
}
footer .logo-github-footer {
  display: block;
  color: #fff;
  margin-bottom: 0.5em;
}
footer .logo-github-footer:before {
  font-size: 4em;
  font-family: icomoon-github;
  content: "\e602";
}
footer .mejor {
  color: #fff;
}
.left {
  float: left;
}
.right {
  float: right;
}
@media screen and (min-width: 300px) {
  .posts {
    display: inline-block;
  }
  .posts .ng-scope {
    width: 40%;
    float: left;
    margin-right: 2em;
  }
  .posts .ng-scope .post {
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .posts {
    display: inline-block;
  }
  .posts .ng-scope {
    width: 20%;
    float: left;
    margin-right: 3em;
    margin-left: 1em;
  }
  .posts .ng-scope .post {
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .posts {
    display: inline-block;
  }
  .posts .ng-scope {
    width: 10%;
    float: left;
    margin-right: 4em;
    margin-left: 3em;
  }
  .posts .ng-scope .post {
    width: 100%;
  }
}
