  	<section ng-init="loadUsersGit()" class="posts" >

		<div ng-repeat="userGitHub in UsersGitHub">

			<article class="post" ng-click="laodInfo(userGitHub.login)">
				<div class="descripcion">
					
						<figure class="imagen">
							<img src={{userGitHub.avatar_url}}>
						</figure>

					
					<div class="name-autor">
						<span>{{userGitHub.login}}</span>
					</div>
				</div>
				<div class="acciones">
					<div class="numero-repos">
						<span class="git-hub" ng-init="loadNumerRepos(userGitHub.repos_url , userGitHub.login)">{{numerRepos}}</span>
						
						<span class="followers" ng-init="loadNumerFollowers(userGitHub.followers_url,userGitHub.login)">{{numerFollowers}}</span>
					</div>
					
				</div>
			</article>
		</div>					
	</section>